$body-background-color: #2d2d2d;

$navbar-background-color: #52b27f;
$navbar-item-hover-background-color: #6bd69d;
$navbar-item-hover-color: #FFF; //#404040
$navbar-item-color: #FFF;/*#404040;*/

$title-color: #cfcfcf;
$subtitle-color: #cfcfcf;

$footer-background-color: #1d1d1d;

$link: #52b27f;
$link-hover: #82ebb3;

$text-strong: #cfcfcf;

$success: #30ACFF;
$primary: #797979;
$info: #52b27f;
/*red: #e54444;*/
/*$button-background-color: */

$box-background-color: #2d2d2d;
$box-color: #cfcfcf;

$table-background-color: #262626;
$table-striped-row-even-background-color: #2d2d2d;
$table-cell-border: 0px;
$table-head-background-color: #2d2d2d;

$button-background-color: #4d4d4d;
$button-border-width: 0px;
$button-color: #cfcfcf;
$button-hover-color: #DDD;
$button-active-color: #FFF;
$button-focus-color: #DDD;

$code-background: #1d1d1d;
$code: #cfcfcf;

$pre-background: #2d2d2d;
$pre: #cfcfcf;

$card-background-color: #2d2d2d;

$navbar-breakpoint: 769px;

$input-color: #cfcfcf;
$input-background-color: #2d2d2d;
$input-border-color: #2d2d2d;
$input-hover-border-color: #52b27f;